/bin
/build
/dist
/freenet-*
/javadoc
/junitvmwatcher*
/lib
/generator/js/lib
/generator/js/tests/lib
/generator/js/tests/bin
/generator/js/gwt-unitCache/
/run
.classpath
*.swp
*.iml
*.ipr
*.iws
.*
*~
\#*\#
/override.properties
/gradle.properties


split-file-inserter-storage-test/


logs/
bookmarks.dat
bootID
client-throttle.dat
client.dat.bak.crypt
client.dat.crypt
completed.list.downloads
completed.list.uploads
freenet.ini
master.keys
node-26050
node-throttle.dat
persistent-temp/
realNodeProbeTest/
realNodeRequestInsertTest/
startssl.pem
update.sh*.tmp
uptime.dat
wrapper.jar*.tmp

